@font-face {
    font-family: RetroPixels;
    src: url("https://play.retro-mmo.com/res/fonts/RetroPixels.ttf");
}

body {
    margin: 0;
    padding: 0;
    font-family: RetroPixels;
    font-size: 2em;
    background-color: black;
    color: white;
    text-align: center;
}

h1 {
    text-align: center;
}

form {
    display: grid;
    grid-template-columns: 3em 2em;
}

label, input {
    vertical-align: middle;
    text-align: center;
}

button {
    cursor: pointer;
}

.setup-container {
    display: grid;
    grid-template-columns: 10em 10em;
    row-gap: 25px;
    max-width: 900px;
    margin: auto;
    justify-content: space-around;
    align-items: center;
}

.battle-container, .go-container{
    display: grid;
    grid-template-columns: 10em 3em 10em;
    justify-content: space-around;
    margin: auto;
    max-width: 900px;
}

.go-container {
    margin-top: 2em;
}

.party-container, .enemies-container {
    margin: auto;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.monster, .player {
    display: flex;
    flex-direction: column;
    margin: auto;
    min-width: 50px;
}

.monster img, .player img {
    margin: auto;
    object-fit:none;
    cursor: pointer;
}

.player img {
    width: 32px;
    object-fit:fill;
    display: none;
}

.player p {
    cursor:pointer;
}


p {
    padding: 0;
    margin: 0;
}

.party {
    display: grid;
    grid-template-columns: auto auto auto;
}

.enemies {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
}